<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Symbol</display-name>
  <servlet-mapping>
    <servlet-name>StaticServlet</servlet-name>
    <url-pattern>/static/*</url-pattern>
    <url-pattern>/web/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Startup</display-name>
    <servlet-name>Startup</servlet-name>
    <servlet-class>com.urzad.web.Startup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StaticServlet</servlet-name>
    <servlet-class>com.urzad.web.StaticServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Startup</servlet-name>
    <url-pattern>/api/Startup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChildren</display-name>
    <servlet-name>GetChildren</servlet-name>
    <servlet-class>com.urzad.web.GetChildren</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChildren</servlet-name>
    <url-pattern>/api/GetChildren</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.urzad.web.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/api/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShortTree</display-name>
    <servlet-name>GetShortTree</servlet-name>
    <servlet-class>com.urzad.web.GetShortTree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShortTree</servlet-name>
    <url-pattern>/api/GetShortTree</url-pattern>
  </servlet-mapping>
</web-app>