ul{
list-style: url(list-add.png);
margin-bottom:5px;
padding-bottom:5px;
}
#mainList, #searchResults{
cursor: pointer
}
ul .expanded{
list-style: url(list-remove.png);
}

#searchError
{
	font-size: 16pt;
	font-weight: bold;
	color: #ef6567;
}